@import "tailwindcss";

@theme {
  --breakpoint-xs: 340px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}

@utility pwa {
  @media (display-mode: standalone) {
    @apply contents;
  }
}
