@tailwind preflight;
@tailwind utilities;
body,
html {
  height: 100%;
}

.w-0 {
  width: 0;
}

.h-500 {
  height: 500px;
}

.max-w-500 {
  max-width: 500px;
}

.hyphens {
  hyphens: auto;
}

.bg-modal {
  background-color: rgba(0, 0, 0, 0.45);
}

.an-250ms {
  animation-duration: 500ms;
}

.an-300ms {
  animation-duration: 500ms;
}

.an-400ms {
  animation-duration: 500ms;
}

.an-500ms {
  animation-duration: 500ms;
}

.an-750ms {
  animation-duration: 750s;
}

.an-1s,
.an-1000ms {
  animation-duration: 1s;
}

.an-2s,
.an-2000ms {
  animation-duration: 2s;
}

.an-3s,
.an-3000ms {
  animation-duration: 3s;
}

.an-delay-250ms {
  animation-delay: 250ms;
}

.an-delay-500ms {
  animation-delay: 500ms;
}

.an-delay-750ms {
  animation-delay: 750ms;
}

.an-delay-1s {
  animation-delay: 1s;
}
