name: Preview Web
on:
  pull_request:
    paths:
      - "web/**"
      - "api/**"
      - ".github/workflows/preview-web.yml"

jobs:
  preview:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      deployments: write
      pull-requests: write

    name: Cloudflare Pages Preview
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Dependencies
        uses: ./.github/actions/install-deps

      - name: Deploy Staging API
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          workingDirectory: ./api
          command: deploy --env staging

      - name: Build
        run: cd web && pnpm build --mode staging

      - name: Deploy Preview
        uses: cloudflare/pages-action@1
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: e5933c765c57d2f3a58d86973c88362c
          projectName: wiggles
          directory: web/dist
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}
